{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to Jona's coding project!</h1>
    <a href="{{ path('app_register') }}">Sign In</a>
    <a href="{{ path('app_login') }}">Log In</a>
{% endblock %}
