html * {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-l;
    color: $light;
    height: 100%;
}

main {
    height: 100%;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: $dark;
    border-radius: $glob_border_radius_lg;
}

a {
    color: $primary-l;
    text-decoration: none;

    &:hover {
        color: $primary-ll;
    }
}

.turbo-proghress-bar {
    background-color: $primary-l !important;
}
