.c-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: $glob_side_padding;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-height: 4.5rem;

    background-color: $dark;
    box-shadow: $primary 0 0 2rem;

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > .c-navbar__item {
            margin: 0 2rem 0 2rem;
        }

    }

    &__user {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    &__item {
        position: relative;
        padding: 0.4rem;

        & a::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0.75rem;
            left: 50%;
            transform: translate(-50%, 0);
            width: 0;
            height: 2px;
            background-color: $primary-l;
            filter: blur(0.35rem);
            transition: width 200ms ease;
            -webkit-transition: width 200ms ease;
            -moz-transition: width 200ms ease;
            -o-transition: width 200ms ease;
            -ms-transition: width 200ms ease;
        }

        & a:hover::after {
            width: 100%;
            transition: width 200ms ease;
            -webkit-transition: width 200ms ease;
            -moz-transition: width 200ms ease;
            -o-transition: width 200ms ease;
            -ms-transition: width 200ms ease;
        }
    }
}
