.c-user-form {
    width: 30%;
    background-color: $dark;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: $glob_border_radius_lg;

    &__item {
        margin-bottom: 1rem;
    }
}

.toggle-password-icon{
    height:1.5rem;
    width:1.5rem
}
.toggle-password-button{
    color: $dark;
    top:50%;
    transform: translate(0, -50%)
}
